body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
	font-family: "Arial", serif;
}